<div class="card-container container">
  <div class="card text-center text-dark">
    <div class="card-header">
      Page Not Found
      <span><i class="fas fa-search"></i></span>
    </div>
    <div class="card-body">
      <h5 class="card-title error-title">Oops! Error 404</h5>
      <p class="card-text error-text mt-5">
        We can't seem to find the page you're looking for.
      </p>
      <a class="btn btn-primary" [routerLink]="['/home']">
        Go Home <span class="ms-2"><i class="fas fa-home"></i></span>
      </a>
    </div>
  </div>
</div>
